<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu50hJSysACV2PZwTRV11QDTwZUVEzX38</string>
	<key>GCM_SENDER_ID</key>
	<string>457946488071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shaimaa</string>
	<key>PROJECT_ID</key>
	<string>shaimaa-ef908</string>
	<key>STORAGE_BUCKET</key>
	<string>shaimaa-ef908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457946488071:ios:d801ac324568e209c239a2</string>
</dict>
</plist>